body {
  width: 300px;
  margin: 0 auto;
  padding: 0;
  font-family: Arial, sans-serif;
}

#apiKeyInput {
  padding: 2.5%;
}

/* General styles */
* {
  box-sizing: border-box;
}

/* Input field styles */
input[type="text"] {
  background-color: #f0f0f0;
  border: none;
  border-radius: 25px;
  font-family: Arial, sans-serif;
  font-size: 16px;
  outline: none;
  padding: 10px 20px;
  transition: all 0.3s ease;
  width: 100%;
}

input[type="text"]:focus {
  background-color: #ffffff;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

/* Button styles */
button {
  background-color: #4caf50;
  border: none;
  border-radius: 25px;
  color: #ffffff;
  cursor: pointer;
  font-family: Arial, sans-serif;
  font-size: 16px;
  outline: none;
  padding: 10px 20px;
  text-transform: uppercase;
  transition: all 0.3s ease;
}

button:hover {
  background-color: #45a049;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

#saveApiKey {
  margin-top: 10px;
}

/* Container for the input field and button */
.input-container {
  display: flex;
  justify-content: space-between;
  max-width: 500px;
  width: 100%;
}

.spinner {
  margin: 10px;
  border: 4px solid rgba(0, 0, 0, 0.1);
  border-left-color: #000;
  border-radius: 50%;
  width: 24px;
  height: 24px;
  animation: spin 1s linear infinite;
}

.summary-container {
  margin: 10px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  max-height: 300px;
  overflow-y: auto;
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}

.summary-content {
  white-space: pre-wrap;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
